.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.header-logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #6D28D9;
  cursor: pointer;
}

.header-icons-area {
  display: flex;
  align-items: center;
  gap: 16px;
}
