.course-detail-container {
  padding: 20px 40px;
  margin-top: 30px;
}

.course-header-card {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
  border: 1px solid #e5e7ea;
  position: relative;
}

.course-code {
  color: #6c63ff;
  font-size: 16px;
  font-weight: 600;
}

.course-title-th {
  font-size: 28px;
  margin: 5px 0 10px 0;
}

.course-title-en {
  font-size: 20px;
  margin: 5px 0 10px 0;
}

.course-meta {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin-bottom: 15px;
}

.course-tags {
  margin-top: 10px;
}

.course-tag {
  background: #f2f2ff;
  padding: 6px 12px;
  border-radius: 16px;
  margin-right: 6px;
  font-size: 13px;
  color: #6a5acd;
}

.course-header-actions {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 10px;
}

.btn-save,
.btn-add-review {
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 14px;
}
.btn-save {
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  background: #ddd;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-save.in-wishlist {
  background: #28a745 !important; 
  color: white !important;
  border: 1px solid #1e7e34;
}

.btn-save.in-wishlist:hover {
  background: #218838 !important;
}



.btn-save:disabled {
  opacity: 0.8;
}

.btn-add-review {
  background: #ff9f29;
  color: white;
  border: none;
}

.instructor-box {
  background: #e8fff8;
  border: 1px solid #b0f3d2;
  padding: 15px 20px;
  border-radius: 12px;
  margin-top: 25px;
}

.review-filter {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

.review-filter button {
  padding: 8px 16px;
  background: #f4f4f4;
  border: none;
  border-radius: 20px;
}

.review-filter .active {
  background: #6c63ff;
  color: white;
}

.review-list {
  margin-top: 20px;
}

.empty-review {
  text-align: center;
  color: #777;
  margin-top: 20px;
}

.course-meta {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.meta-item {
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  font-size: 16px;
  color: #374151;
}

/* ชื่อหัวข้อ เช่น "ความยากเฉลี่ย" */
.meta-label {
  font-weight: 500;
  margin-bottom: 4px;
}

/* กลุ่มไอคอน */
.avg-icon-group {
  margin-top: 5px;
  display: flex;
  gap: 1px;
}

/* ไอคอนเริ่มสีเทา */
.avg-icon {
  width: 22px;
  height: 22px;
  color: #d1d5db;
}

/* ไอคอน Active ความยาก */
.rating-orange {
  color: #fb923c !important;
}

/* ไอคอน Active ปริมาณงาน */
.rating-blue {
  color: #60a5fa !important;
}

.top5-tags-container {
  margin-top: 20px;
}

.top5-title {
  font-size: 16px;
  font-weight: 600;
  color: #4b5563;
  margin-bottom: 15px;
}

.top5-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.top5-tag {
  background: #eef2ff;
  color: #4f46e5;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
}